<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend_toDoList</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

        <form action ="/create" method="post">
            <input type="text" name="task" id="task" placeholder="Insira uma tarefa!">
            <button id="addBut" type="submit">Adicionar</button>

        </form>




     <script src="/script.js"></script>
</body>

</html>
